repository:
  default_branch: main
  allow_merge_commit: false
  allow_rebase_merge: true
  allow_squash_merge: true
  delete_branch_on_merge: true
  enable_automated_security_fixes: true
  enable_vulnerability_alerts: true
  has_issues: true
  has_projects: false
  has_wiki: false
branches:
  - name: main
    protection:
      required_status_checks:
        strict: true
        contexts:
          - CI
      enforce_admins: false
      required_pull_request_reviews:
        required_approving_review_count: 1
      restrictions: null
